<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right">
        <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
      </ul>

    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner" style="background-image: url(<%= asset_path 'fondo.jpg' %> ); background-size: cover; ">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Tu negocio online</h1>
      <div class="row center">
        <h5 class="header col s12 light">100% gratis sin necesidad de conocimientos técnicos.</h5>
      </div>
      <div class="row center">
        <%= link_to "Crear cuenta", new_user_registration_path, id:"download-button", class:"btn-large waves-effect waves-light orange" %> 
      </div>
      <br><br>

    </div>
  </div>


<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">1°</i></h2>
            <h5 class="center">Diseña tu tienda</h5>

            <p class="light">Elige plantilla prediseñada que se adaptan a tu estilo.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">2°</i></h2>
            <h5 class="center">Sube tus productos</h5>

            <p class="light">Desde la computadora o con la aplicación móvil para celulares.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">3°</i></h2>
            <h5 class="center">Recibe pagos en línea</h5>

            <p class="light">Transferencia bancaria o con tarjeta de crédito.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  <div class="container">
      <br><br>
      <h3 class="header center orange-text"></h3>
      <div class="row center">
        <h5 class="header col s12 light">Regístrese hoy de forma gratuita y sea el primero en recibir notificaciones sobre las nuevas actualizaciones.</h5>
      </div>      
      <div class="row">
    <div class="col s12">              
      <div class="row">
        <div class="input-field col s12">
          <%= form_tag(create_email_path, method: :post) do  %> 
            <%= email_field_tag "email", nil, class:"validate" %>
            <label for="email">Email</label>            
          <% end %>
        </div>
      </div>      
    </div>
  </div>
      <br><br>
  </div>
 


  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¿Quienes Somos?</h5>
          <p class="grey-text text-lighten-4">Ayudamos a las empresas a vender Online de forma que puedan ofrecer a sus clientes una sólida experiencia de compra.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Soporte</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">FAQ</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="orange-text text-lighten-3" href="https://nymweb.com">NyMweb</a>
      </div>
    </div>
  </footer>



